[core]
	sparsecheckout = true
	pager =
[user]
	name = Koki Takahashi
	email = hakatasiloving@gmail.com
[color]
	ui = always
[push]
	default = simple
[alias]
	wdiff = diff --word-diff 
	cdiff = diff --cached
