[core]
	sparsecheckout = true
	pager =
	hooksPath = ~/.config/git/hooks
[user]
	name = Koki Takahashi
	email = hakatasiloving@gmail.com
[color]
	ui = always
[push]
	default = upstream
	followTags = true
[alias]
	d = diff --color-words --word-diff-regex='[^\\x80-\\xbf][\\x80-\\xbf]*' --ignore-space-change
	dc = diff --color-words --word-diff-regex='[^\\x80-\\xbf][\\x80-\\xbf]*' --ignore-space-change --cached
	wdiff = diff --word-diff --ignore-space-change
	cdiff = diff --cached --ignore-space-change
	s = status --short --branch --untracked-files=all
	statu = status
	stats = status
	staut = status
	staus = status
	statsu = status
	stauts = status
	stastu = status
	stastus = status
	c = checkout
	chekcout = checkout
	comit = commit
	commti = commit
	clone = clone --recursive --recurse-submodules -j8
	shoe = show
	pull = pull --recurse-submodules
	unstage = restore --staged
	history = log -p
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "git@gist.github.com:"]
	pushInsteadOf = git://gist.github.com/
	pushInsteadOf = https://gist.github.com/
[credential]
	helper = wincred
[safe]
	directory = *
