"*":
  "atom-beautify":
    _analyticsUserId: "b8164163-310c-4e9d-aa9c-723bda0250e2"
    css:
      convert_quotes: "single"
      indent_char: "\t"
      indent_size: 4
      newline_between_rules: true
      no_lead_zero: true
    css_newline_between_rules: true
    css_preserve_newlines: true
    js_indent_with_tabs: true
    js_jslint_happy: true
    language_css_default_beautifier: "Pretty Diff"
    language_erb_default_beautifier: "HTML Beautifier"
  "autocomplete-plus":
    autoActivationDelay: 300
    confirmCompletion: "enter"
  "base16-syntax":
    scheme: "Isotope"
  "browser-plus": {}
  core:
    customFileTypes:
      source: [
        "[object Object]"
      ]
      "source.xml": [
        "ttx"
      ]
    disabledPackages: [
      "atom-jshint"
      "atom-lint"
      "grunt-runner"
      "video-player"
      "sort-lines"
      "ide-haskell"
      "haskell-ghc-mod"
      "editor-background"
      "language-livescript"
      "linter-htmlhint"
      "nuclide-ocaml"
      "nuclide"
    ]
    projectHome: "C:\\Users\\Hakatashi\\Documents\\GitHub"
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
  docblockr: {}
  editor:
    fontFamily: "Ricty"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    showInvisibles: true
    softTabs: false
    tabLength: 4
    useHardwareAcceleration: true
  "editor-background":
    box3d: {}
    image: {}
    other: {}
    text: {}
    video: {}
  "exception-reporting":
    userId: "b91882bb-8ab4-faf7-b7e4-fcec3fc89016"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-plus": {}
  "haskell-ghc-mod": {}
  "highlight-selected":
    onlyHighlightWholeWords: true
  "ide-haskell": {}
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule:
      ideographicSpaceAsWihteSpace: true
  "language-review": {}
  linter:
    showErrorPanel: false
    statusBar: "Show error if the cursor is in range"
  "linter-jshint": {}
  metrics:
    userId: "326cc6fac878282b4d7683883bd82d1c659ce21f"
  nuclide:
    "nuclide-home":
      showHome: false
  "remote-sync": {}
  "tree-view":
    squashDirectoryNames: true
  "vim-mode": {}
  "vim-surround": {}
  welcome:
    showOnStartup: false
".asm.source.x86":
  editor:
    preferredLineLength: 100
".basic.html.text":
  editor:
    preferredLineLength: 100
".coffee.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".diff.source":
  editor:
    preferredLineLength: 100
".html.js.text":
  editor:
    preferredLineLength: 100
".html.php.text":
  editor:
    preferredLineLength: 100
".html.smarty.text":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
".jade.source":
  editor:
    nonWordCharacters: "、。"
    preferredLineLength: 100
    showIndentGuide: false
    tabLength: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
".litcoffee.source":
  editor:
    preferredLineLength: 100
".livescript.source":
  editor:
    preferredLineLength: 100
".pyjade.source":
  editor:
    preferredLineLength: 100
".review.source":
  editor:
    preferredLineLength: 100
".source.yaml":
  editor:
    preferredLineLength: 100
".text.xml":
  editor:
    preferredLineLength: 100
".text.xml.xsl":
  editor:
    preferredLineLength: 100
"exception-reporting":
  userId: "49a02b5b-1e67-221d-0078-379cc77b021e"
metrics:
  userId: "868477fe1a2319cd224588088eb009eee59e4eeb"
welcome:
  showOnStartup: false
